services:
  sharelatex:
    container_name: ${CONTAINER_NAME}
    image: sharelatex/sharelatex:latest
    restart: always
    ports:
      - "${HTTP_PORT}:80"
    depends_on:
      mongo:
        condition: service_healthy
      redis:
        condition: service_started
    links:
      - mongo
      - redis
    volumes:
      - ${DATA_PATH_OVERLEAF}:/var/lib/overleaf

    environment:
      - OVERLEAF_APP_NAME=${OVERLEAF_APP_NAME}
      - OVERLEAF_MONGO_URL=${MONGO_URL}?replicaSet=rs0
      - OVERLEAF_REDIS_HOST=${REDIS_HOST}
      - ENABLE_CONVERSIONS=true
      - OVERLEAF_ADMIN_EMAIL=${OVERLEAF_ADMIN_EMAIL}
      - OVERLEAF_ADMIN_PASSWORD=${OVERLEAF_ADMIN_PASSWORD}
      
      # Configuración de Email (Opcional)
      # - OVERLEAF_EMAIL_FROM_ADDRESS=${EMAIL_FROM}
      # - OVERLEAF_EMAIL_SMTP_HOST=${SMTP_HOST}
      # - OVERLEAF_EMAIL_SMTP_PORT=${SMTP_PORT}
      # - OVERLEAF_EMAIL_SMTP_SECURE=false
      # - OVERLEAF_EMAIL_SMTP_USER=${SMTP_USER}
      # - OVERLEAF_EMAIL_SMTP_PASS=${SMTP_PASS}
      # - OVERLEAF_EMAIL_SMTP_TLS_REJECT_UNAUTHORIZED=false

  mongo:
    container_name: mongo
    image: mongo:8.0
    # Iniciamos con el Replica Set activado
    command: "--replSet rs0 --bind_ip_all"
    restart: always
    volumes:
      - ${DATA_PATH_MONGO}:/data/db
    # Healthcheck necesario para saber cuándo iniciar el script de configuración
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  # --- CONFIGURADOR AUTOMÁTICO (Solo corre una vez y muere) ---
  mongo-init:
    image: mongo:8.0
    restart: "no"
    depends_on:
      mongo:
        condition: service_healthy
    command: >
      bash -c "
      echo 'Esperando a Mongo...';
      mongosh --host mongo:27017 --eval '
        try {
          rs.status();
          print(\"Replica Set ya estaba iniciado. Todo OK.\");
        } catch (e) {
          rs.initiate({_id: \"rs0\", members: [{_id: 0, host: \"mongo:27017\"}]});
          print(\"Replica Set iniciado correctamente.\");
        }
      ';
      "

  redis:
    container_name: redis
    image: redis:6.2
    restart: always
    volumes:
      - ${DATA_PATH_REDIS}:/data