services:
  # 1. NODO MAESTRO
  spark-master:
    image: spark:3.5.7-scala2.12-java11-python3-ubuntu
    container_name: spark-master
    ports:
      - "8080:8080" # Interfaz web de monitoreo
      - "7077:7077" # Puerto del master
      - "4040:4040"
      # - "15002:15002"
    volumes:
      - ./notebooks:/workspace 
    environment:
      - SPARK_MODE=master
      - SPARK_PUBLIC_DNS=127.0.0.1
      - SPARK_RPC_AUTHENTICATION_ENABLED=no 
    command: [ "bash",  "-c", "/opt/spark/sbin/start-master.sh 
                && /opt/spark/sbin/start-connect-server.sh
                && tail -F /opt/spark/logs/*.out"]

  # 2. NODO TRABAJADOR
  spark-worker-1:
    image: spark:3.5.7-scala2.12-java11-python3-ubuntu
    container_name: spark-worker-1
    ports:
      - "8081:8081"
    environment:
      - SPARK_MODE=worker
      - SPARK_WORKER_CORES=8
      - SPARK_WORKER_MEMORY=8g
    volumes:
      - ./notebooks:/workspace 
    command: [ "bash", "-c", "/opt/spark/sbin/start-worker.sh spark://spark-master:7077 
                && tail -F /opt/spark/logs/*.out" ]
    depends_on:
      - spark-master

  # 3. CONTENEDOR DE CLIENTE/DRIVER (JupyterLab)
  jupyter-driver:
    build: 
      context: .             
      dockerfile: Dockerfile 
    container_name: jupyter-spark-driver
    ports:
      - "8899:8888" 
      - "4041:4040" 
      - "9000:9000"
    environment:
      - SPARK_MASTER=spark://spark-master:7077
    volumes:
      - ./notebooks:/workspace 
    depends_on:
      - spark-master